<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" placement="bottom" [routerLink]="['/home']" target="_blank">
        <span> Phillip Monroe </span>
      </a>
      <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a>Phillip Monroe</a></div>
          <div class="col-6 collapse-close text-right">
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" href="mailto:phillipkmonroe@gmail.com" target="_blank" tooltip="Send me an email!">
            <i class="tim-icons icon-email-85"> </i>
            <p class="d-lg-none d-xl-none">Email</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://github.com/phillipmonroe" target="_blank" tooltip="Check out my Github!">
            <i class="fab fa-github"> </i>
            <p class="d-lg-none d-xl-none">Github</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="scrollToElement(skills)">
            Skills
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="scrollToElement(projects)">
            Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">
            Contact Me
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/experience']">
            Experience
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link btn btn-default d-none d-lg-block" href="https://github.com/phillipmonroe/phillipmonroe.github.io/raw/master/downloads/resume.pdf"
            download="Phillip_Monroe_Resume.pdf">
            <i class="tim-icons icon-cloud-download-93"> </i> Download my Resume
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">Phillip Monroe</h1>
        <h3>
          Bachelor of Science, Computer Science Cybersecurity Emphasis
        </h3>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-basic" id="skills" #skills>
      <div class="container">
        <h2 class="title">Skills</h2>
        <div class="progress-container progress-success">
          <span class="progress-badge"> Java </span>
          <progressbar class="progress-bar-success" [value]="100">
            <span class="progress-value"> Expert </span>
          </progressbar>
        </div>
        <div class="progress-container progress-success">
          <span class="progress-badge"> C </span>
          <progressbar class="progress-bar-success" [value]="80">
            <span class="progress-value"> Advanced </span>
          </progressbar>
        </div>
        <div class="progress-container progress-success">
          <span class="progress-badge"> C++ </span>
          <progressbar class="progress-bar-success" [value]="50">
            <span class="progress-value"> Intermediate </span>
          </progressbar>
        </div>
        <div class="progress-container progress-success">
          <span class="progress-badge"> C# </span>
          <progressbar class="progress-bar-success" [value]="85">
            <span class="progress-value"> Advanced </span>
          </progressbar>
        </div>
        <div class="progress-container progress-success">
          <span class="progress-badge"> Python </span>
          <progressbar class="progress-bar-success" [value]="85">
            <span class="progress-value"> Advanced </span>
          </progressbar>
        </div>
        <div class="progress-container progress-success">
          <span class="progress-badge"> SQL </span>
          <progressbar class="progress-bar-success" [value]="70">
            <span class="progress-value"> Intermediate </span>
          </progressbar>
        </div>
        <div class="progress-container progress-success">
          <span class="progress-badge"> Angular </span>
          <progressbar class="progress-bar-success" [value]="60">
            <span class="progress-value"> Intermediate </span>
          </progressbar>
        </div>
        <div class="progress-container progress-success">
          <span class="progress-badge"> Linux </span>
          <progressbar class="progress-bar-success" [value]="100">
            <span class="progress-value"> Expert </span>
          </progressbar>
        </div>
        <div class="progress-container progress-success">
          <span class="progress-badge"> Windows </span>
          <progressbar class="progress-bar-success" [value]="100">
            <span class="progress-value"> Expert </span>
          </progressbar>
        </div>
      </div>
    </div>
    <div class="section section-tabs" #projects>
      <div class="container">
        <h2 class="title">Projects</h2>
        <div class="row">
        </div>
        <div class="card">
          <div class="card-header">
            <h4>
              Lexi
            </h4>
            <tabset class="nav-tabs-success">
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-align-left-2"> </i> Summary
                </ng-template>
                <p>
                  This is a simple text editor that was used to demonstrate knowledge of various object oriented design
                  principles.
                </p>
                <br />
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-laptop"> </i> Technical Details
                </ng-template>
                <b style="color:white">Programming Languages:</b>
                <ul>
                  <li>Java</li>
                </ul>
                <b style="color:white">Design Strategies:</b>
                <ul>
                  <li>
                    Abstract Factory
                  </li>
                  <li>
                    Bridge
                  </li>
                  <li>
                    Chain Of Responsibility
                  </li>
                  <li>
                    Command
                  </li>
                  <li>
                    Composite
                  </li>
                  <li>
                    Decorator
                  </li>
                  <li>
                    Factory Method
                  </li>
                  <li>
                    Iterator
                  </li>
                  <li>
                    Prototype
                  </li>
                  <li>
                    Singleton
                  </li>
                  <li>
                    Strategy
                  </li>
                  <li>
                    Visitor
                  </li>
                </ul>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-cloud-download-93"> </i> Source Code
                </ng-template>
                <table>
                  <tr>
                    <td><a class="btn btn-info btn-round mr-1" href="https://github.com/phillipmonroe/Lexi"
                        target="_blank">
                        <i class="fab fa-github"> </i> GitHub Repository
                      </a></td>
                  </tr>
                  <br />
                  <tr>
                    <td><a class="btn btn-muted btn-round mr-1"
                        href="https://github.com/phillipmonroe/Lexi/archive/master.zip" target="_blank">
                        <i class="tim-icons icon-bag-16"> </i> Download Zip
                      </a></td>
                  </tr>
                </table>
                <br />
              </tab>
            </tabset>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>
              CityGo Transit App
            </h4>
            <tabset class="nav-tabs-success">
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-align-left-2"> </i> Summary
                </ng-template>
                <p>
                  This is an application made for <a class="btn btn-link btn-success mr-1"
                    href="https://www.citygoboise.com/" target="_blank">CityGo</a>. It automates distribution of bus
                  passes to employees whose companies are members of CityGo. I worked on the back end as well as
                  connecting the front end and back end together. I also handled the communication with a third-party
                  API.
                </p>
                <br />
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-laptop"> </i> Technical Details
                </ng-template>
                <ul>
                  <li><b>Backend: </b>Python Flask</li>
                  <li><b>Database: </b>MySQL</li>
                  <li><b>Frontend: </b>Angular</li>
                  <li><b>Authentication: </b>Auth0</li>
                </ul>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-cloud-download-93"> </i> Source Code
                </ng-template>
                <table>
                  <tr>
                    <td><a class="btn btn-info btn-round mr-1" href="https://github.com/phillipmonroe/CityGoTransit"
                        target="_blank">
                        <i class="fab fa-github"> </i> GitHub Repository
                      </a></td>
                  </tr>
                  <br />
                  <tr>
                    <td><a class="btn btn-muted btn-round mr-1"
                        href="https://github.com/phillipmonroe/CityGoTransit/archive/master.zip" target="_blank">
                        <i class="tim-icons icon-bag-16"> </i> Download Zip
                      </a></td>
                  </tr>
                </table>
                <br />
              </tab>
            </tabset>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>
              This website!
            </h4>
            <tabset class="nav-tabs-success">
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-align-left-2"> </i> Summary
                </ng-template>
                <p>
                  This is a website used to show off some cool thing about me. I had a fun time making it, and I hope
                  you are having a fun time browsing it.
                </p>

                <br /><br />
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-laptop"> </i> Technical Details
                </ng-template>
                <ul>
                  <li>BootStrap 4</li>
                  <li>Angular</li>
                  <li>Poppins Font</li>
                  <li>noUISlider</li>
                  <li>Popper.js</li>
                  <li>BLK Design System</li>
                </ul>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-cloud-download-93"> </i> Source Code
                </ng-template>
                <table>
                  <tr>
                    <td><a class="btn btn-info btn-round mr-1" href="https://github.com/phillipmonroe/personalwebsite"
                        target="_blank">
                        <i class="fab fa-github"> </i> GitHub Repository
                      </a></td>
                  </tr>
                  <br />
                  <tr>
                    <td><a class="btn btn-muted btn-round mr-1"
                        href="https://github.com/phillipmonroe/personalwebsite/archive/master.zip" target="_blank">
                        <i class="tim-icons icon-bag-16"> </i> Download Zip
                      </a></td>
                  </tr>
                </table>
                <br />
              </tab>
            </tabset>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>
              Multithreaded Merge Sort
            </h4>
            <tabset class="nav-tabs-success">
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-align-left-2"> </i> Summary
                </ng-template>
                <p>
                  This is a sorting algorithm implemented in C. It takes a basic mergesort and then adapts it to use
                  multiple threads. By using just 4 threads you can complete the sorting in about 1/3 of the
                  time.
                </p>
                <br />
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-laptop"> </i> Technical Details
                </ng-template>
                <b style="color:white">Programming Languages:</b>
                <ul>
                  <li>C</li>
                </ul>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-cloud-download-93"> </i> Source Code
                </ng-template>
                <table>
                  <tr>
                    <td><a class="btn btn-info btn-round mr-1"
                        href="https://github.com/phillipmonroe/Multithreaded-Merge-Sort" target="_blank">
                        <i class="fab fa-github"> </i> GitHub Repository
                      </a></td>
                  </tr>
                  <br />
                  <tr>
                    <td><a class="btn btn-muted btn-round mr-1"
                        href="https://github.com/phillipmonroe/Multithreaded-Merge-Sort/archive/master.zip"
                        target="_blank">
                        <i class="tim-icons icon-bag-16"> </i> Download Zip
                      </a></td>
                  </tr>
                </table>
                <br />
              </tab>
            </tabset>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4>
              B-Tree
            </h4>
            <tabset class="nav-tabs-success">
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-align-left-2"> </i> Summary
                </ng-template>
                <p>
                  This is a B-tree data structure that was implemented in Java.
                </p>
                <br />
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-laptop"> </i> Technical Details
                </ng-template>
                <b style="color:white">Programming Languages:</b>
                <ul>
                  <li>Java</li>
                </ul>
              </tab>
              <tab>
                <ng-template tabHeading>
                  <i class="tim-icons icon-cloud-download-93"> </i> Source Code
                </ng-template>
                <table>
                  <tr>
                    <td><a class="btn btn-info btn-round mr-1" href="https://github.com/phillipmonroe/B-Tree"
                        target="_blank">
                        <i class="fab fa-github"> </i> GitHub Repository
                      </a></td>
                  </tr>
                  <br />
                  <tr>
                    <td><a class="btn btn-muted btn-round mr-1"
                        href="https://github.com/phillipmonroe/B-Tree/archive/master.zip" target="_blank">
                        <i class="tim-icons icon-bag-16"> </i> Download Zip
                      </a></td>
                  </tr>
                </table>
                <br />
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">Phillip Monroe</h1>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <h3 class="title">Contact Me:</h3>
          <div class="btn-wrapper profile">
            <table>
              <tr>
                <td>
                  <a class="btn btn-neutral btn-round btn-simple" href="mailto:phillipkmonroe@gmail.com"
                    target="_blank">
                    <i class="tim-icons icon-email-85"></i> phillipkmonroe@gmail.com
                  </a></td>
              </tr>
              <tr>
                <td>
                  <a class="btn btn-neutral btn-round btn-simple" href="tel:208-863-2028" target="_blank">
                    <i class="tim-icons icon-volume-98"></i> (208)863-2028
                  </a></td>
              </tr>
              <tr>
                <td><a class="btn btn-neutral btn-round btn-simple" href="https://github.com/phillipmonroe"
                    target="_blank">
                    <i class="fab fa-github"></i> GitHub
                  </a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>